<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Devices Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
      <li class="active"><a href="/">Main page</a></li>
      {{else}}
      <li><a href="/">Main page</a></li>
      {{/if}}
      {{#if isDevices}}
      <li class="active"><a href="/devices">Devices</a></li>
      {{else}}
      <li><a href="/devices">Devices</a></li>
      {{/if}}
      {{#if isAdd}}
      <li class="active"><a href="/add">Add device</a></li>
      {{else}}
      <li><a href="/add">Add device</a></li>
      {{/if}}
      {{#if isCard}}
      <li class="active"><a href="/card">Basket</a></li>
      {{else}}
      <li><a href="/card">Basket</a></li>
      {{/if}}
    </ul>
  </div>
</nav>